{% extends 'base.html' %}

{% block content %}
<div class="receipt-list">
  <h2>Receipts</h2>
  <a href="{% url 'receipt_create' %}">Add New Receipt</a>
  <ul>
    {% for receipt in receipts %}
    <li>
      {{ receipt.receipt_number }} - {{ receipt.receipt_type }}
      <a href="{% url 'receipt_update' receipt.pk %}">Edit</a> |
      <a href="{% url 'receipt_delete' receipt.pk %}">Delete</a>
      <a href="{% url 'receipt_pdf' pk=receipt.pk %}" class="btn btn-primary" target="_blank">Generate PDF</a>
    </li>
    {% endfor %}
  </ul>
  {% for receipt in receipts %}
  <!-- <div class="receipt">
     Display bill details 
   </div> -->
  {% endfor %}
</div>
{% endblock %}