{% extends 'base.html' %}

{% block content %}
<div class="bills-page">
  <h2>Bills</h2>
  <a href="{% url 'bill_create' %}">Add New Bill</a>
  <ul>
    {% for bill in bills %}
    <li>
      {{ bill.bil_number }} - {{ bill.bil_customer }}
      <a href="{% url 'bill_update' bill.pk %}">Edit</a> |
      <a href="{% url 'bill_delete' bill.pk %}">Delete</a>
      <a href="{% url 'bill_pdf' pk=bill.pk %}" class="btn btn-primary" target="_blank">Generate PDF</a>
      <a href="{% url 'email_pdf' pk=bill.pk %}" class="btn btn-primary" target="_blank">Email PDF</a>


    </li>
    {% endfor %}
  </ul>


</div>

{% endblock %}