<!-- forgot_password.html -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <form method="post" action="{% url 'forgot_password' %}" class="bounce-in-top">
        {% csrf_token %}
        <h2>Forgot Password</h2>
        <p>Please enter your email address. You will receive a link to create a new password via email.</p>
        <div class="inputWithIcon">
            <input type="email" name="email" placeholder="Enter your email" required>
            <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
        </div>
        <input type="submit" value="Send Reset Link">
        <!-- Add this inside your form container, right after the form closing tag -->
        <a href="{% url 'login' %}" class="back-link">Back to Login Page</a>

    </form>
</div>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const togglePassword = document.querySelector('#togglePassword');
    
        togglePassword.addEventListener('click', function (e) {
            const password = document.querySelector('#password2');
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });
    });
    </script>

{% endblock %}