{% extends 'base.html' %}

{% block content %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale = 1.0">
<title> Login Page</title>
<link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0">
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    @import url(https://fonts.googleapis.com/css?family=Lato:400,700,900,300);
    @import url(http://weloveiconfonts.com/api/?family=fontawesome);

    * {
        box-sizing: border-box;
    }

    /* body {
    font-family: Arial, sans-serif;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
}  */


    .container {
        width: 300px;
        margin: auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
    }

    /* .login-container form {
    margin-bottom: 20px;
} */



    input[type="text"],
    input[type="password"] {
        width: 100%;
        border: 2px solid #aaa;
        border-radius: 4px;
        margin: 8px 0px;
        outline: none;
        padding: 8px;
        box-sizing: border-box;
        transition: 0.3s;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
        border-color: dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    }

    .inputWithIcon input[type="text"],
    .inputWithIcon input[type="password"] {
        padding-left: 40px;
    }

    .inputWithIcon {
        position: relative;
    }

    input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    .inputWithIcon i {
        position: absolute;
        left: 10;
        top: 8px;
        padding: 9px 8px;
        color: #aaa;
        transition: 0.3s;
    }

    .inputWithIcon input[type="text"]:focus+i,
    .inputWithIcon input[type="password"]:focus+i {
        color: dodgerBlue;
    }

    /* .container {
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}  */
</style>
</head>

<body>
    <div class="container">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <h2><u>Lo</u>gin</h2>
            <div class="inputWithIcon">
                <input type="text" name="username" placeholder="Enter your email" required>
                <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"> </i>
            </div>
            <div class="inputWithIcon">
                <input type="password" name="password" placeholder="Confirm a password" required>
                <i class="fa fa-key fa-lg fa-fw" aria-hidden="true"> </i>
            </div>
            <input type="checkbox" id="c"> <label for="c"><small>Remember me</small></label>
            &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            <a href="forgot.html"><small> Forgot password?</small></a><br><br>

            <input type="submit" value="Login Now"><br><br>
            <p align="center"><small>Don't have an account?</small><a href="{% url 'register' %}">Signup now</a>.
            </p>
        </form>
    </div>

    {% endblock %}